
.about-card {
  background: #e9bceb;
  border-radius: 60px;
  height: 350px;
  margin: 1rem;
  padding: 20px;
  position: relative;
  width: 1000px;
  text-align: left;
}



  .img-container img{
    width: 200px;
    flex: center
  }

  